<nav class="bg-green-700">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <h1 class="text-white rounded-md px-3 py-2 text-lg font-medium">CAR SHOP</h1>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="flex">
          <a href="/home"
             class="text-gray-300 hover:bg-green-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium no-underline">Home</a>
          <a href="/add"
             class="text-gray-300 hover:bg-green-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium no-underline"
             *ngIf="isLoggedIn">Add Car</a>
          <button class="text-white" (click)="signOut()">Sign Out</button>
        </div>



        <div class="flex" *ngIf="!isLoggedIn">
          <a href="/register"
             class="text-gray-300 hover-bg-green-700 hover-text-white rounded-md px-3 py-2 text-sm font-medium">Sign
            Up</a>
          <a href="/login"
             class="text-gray-300 hover-bg-green-700 hover-text-white rounded-md px-3 py-2 text-sm font-medium">Sign
            In</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <router-outlet></router-outlet>
</div>

<div class="main">

</div>
